<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.easycom.cordova.moodstocksScanner"
    version="0.0.1">
    <name>moodstocksScanner</name>
    <description>EasyScanner plugins help to integrate Moodstocks SDK in your Cordova application. This plugin let you the possibility too choose your moodstocks account.(http://www.moodstocks.com/).
    </description>
    <author>Easycom</author>
    <license>MIT</license>
    <keywords>Easycom, Moodstocks, image-recognition, ios, android,
      barcode, qrcode</keywords>
    <repo>https://github.com/jgodart/EasyScanner.git</repo>
    <issue>https://github.com/jgodart/EasyScanner/issues</issue>

    <dependency id="cordova-plugin-camera" url="https://github.com/apache/cordova-plugin-camera.git"  />
    <js-module src="www/moodstocksScanner.js" name="moodstocksScanner">
        <clobbers target="moodstocksScanner" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
            <feature name="moodstocksScanner">
                <param name="ios-package" value="moodstocksScanner" />
            </feature>
      </config-file>
        
        <!-- header & source files -->
        <header-file src="src/ios/easyScannerplugin.h" />
        <source-file src="src/ios/easyScannerplugin.m" />
        <header-file src="src/ios/ScannerViewController.h" />
        <source-file src="src/ios/ScannerViewController.m" />
        <resource-file src="src/ios/ScannerViewController.xib" />

        <!-- system frameworks -->
        <framework src="CFNetwork.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
    <feature name="moodstocksScanner" >
      <param name="android-package" value="com.easycom.cordova.moodstocksScanner"/>
    </feature>
  </config-file>
  
        <!-- uses permission & feature -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-feature
                android:name="android.hardware.camera"
                android:required="false" />
            <uses-feature
                android:name="android.hardware.camera.any"
                android:required="false" />
        </config-file>
 
 <!-- source files -->
  <source-file src="src/android/easyScannerPlugin.java" target-dir="src/com/easycom/cordova/moodstocksScanner"/>
  <source-file src="src/android/MainActivity.java" target-dir="src/com/easycom/cordova/moodstocksScanner" /> 
  <source-file src="src/android/AutoScanFragment.java" target-dir="src/com/easycom/cordova/moodstocksScanner" />
  <source-file src="src/android/CordovaFragment.java" target-dir="src/com/easycom/cordova/moodstocksScanner" />
  <source-file src="src/android/ManualScanFragment.java" target-dir="src/com/easycom/cordova/moodstocksScanner" />
        
  <source-file src="src/android/activity_main.xml" target-dir="res/layout" />      
  <source-file src="src/android/fragment_cordova.xml" target-dir="res/layout" />      
  <source-file src="src/android/fragment_scan.xml" target-dir="res/layout" />
  
    </platform>

</plugin>